html {
    --popup-width: 320px;
    --list-columns: 1;

    --popup-width-2col: 600px;
    --list-columns-2col: 2;
    --popup-width-3col: 800px;
    --list-columns-3col: 3;

    width: var(--popup-width); 
    height: auto;
}

body {
    --back-color: #f0f0ea;
    --text-color: #0f0f0f;
    --subdued-text-color: #686868;
    
    font-size: 100%;
    margin: 0.25em 0.5em;

    color: var(--text-color);
    background-color: var(--back-color);
}

h4 { 
    margin: 0px;
}

summary {
    font-size: 90%;
    color: var(--subdued-text-color);
}

ul#tabGroupsList {
    list-style-type: none;
    columns: var(--list-columns);
    column-gap: 0.5em;
    padding-left: 0px;
    margin: 0.5rem 0;
}

#tabGroupsList li {                
    --group-color: silver;      
    --left-border-def: solid 0.4em color-mix(in srgb, var(--group-color) 70%, var(--back-color));
    cursor: pointer;    
    color: var(--text-color);         
    padding: 0.2em;
    padding-left: 0.3em;
    background-color: color-mix(in srgb, var(--group-color) 10%, var(--back-color));
    border-radius: 6px;
    border: solid 1px color-mix(in srgb, var(--group-color) 20%, var(--back-color));    
    border-left: var(--left-border-def);
}

#tabGroupsList li.no-name {           
    color: var(--subdued-text-color);     
}

#tabGroupsList li:hover { 
    background-color: color-mix(in srgb, var(--group-color) 15%, var(--back-color));
    border-color: color-mix(in srgb, var(--group-color) 40%, var(--back-color));     
    border-left: var(--left-border-def);
}               

#tabGroupsList li:not(:last-child) {
    margin-bottom: 0.3em;
}

#tabGroupsList li span {                
    margin-left: 0.3em;
    font-size: 75%;
    color: gray;
}

