html {
    --popup-width: 320px;
    --list-columns: 1;

    --popup-width-2col: 600px;
    --list-columns-2col: 2;
    --popup-width-3col: 800px;
    --list-columns-3col: 3;

    width: var(--popup-width); 
    height: auto;
}

body {
    --back-color: #f0f0ea;
    --text-color: #0f0f0f;
    --subdued-text-color: #686868;
    
    font-size: 100%;
    margin: 0.25em 0.5em;

    color: var(--text-color);
    background-color: var(--back-color);
}

h4 { 
    margin: 0px;
}

summary {
    font-size: 90%;
    color: var(--subdued-text-color);
}

ul#tabGroupsList {
    list-style-type: none;
    columns: var(--list-columns);
    column-gap: 0.5em;
    padding-left: 0px;
    margin: 0.5rem 0;
}

#tabGroupsList li {                
    --group-color: silver;  
    --group-back-color: color-mix(in srgb, var(--group-color) 10%, var(--back-color));
    cursor: pointer; 
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: var(--text-color);     
    background-color: var(--group-back-color);   
    border-radius: 6px;
    border: solid 1px transparent; 
    padding: 0.1em;
}

#tabGroupsList li.no-name {           
    color: var(--subdued-text-color);     
}

#tabGroupsList li:hover { 
    border: solid 1px color-mix(in srgb, var(--group-color) 35%, var(--back-color)); 
}               

#tabGroupsList li:not(:last-child) {
    margin-bottom: 0.3em;
}

#tabGroupsList li:before {
    content: "\00a0";
    width: 1em;   
    height: 1em;
    color: var(--group-color); 
    background-color: var(--group-color); 
    border-radius: 2em;
    margin-right: 0.3em;
}

#tabGroupsList li span {                
    margin-left: 0.3em;
    font-size: 75%;
    color: gray;
}

